.about-me {
  margin-bottom: 4rem;
}

.about-me-container {
  display: flex;
  justify-content: center;
}

.about-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.4rem;
}

/* responsiveness */
@media (max-width: 768px) {
  .about-me {
    margin-bottom: 2rem;
  }

  .about-me-container {
    flex-direction: column;
  }

  .about-description {
    text-align: justify;
    font-size: 0.875rem;
  }
}