.about-me {
  margin-bottom: 4rem;
}

.about-me-container  {
  display: flex;
  justify-content: center;
}

.about-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.4rem;
}

@media (max-width: 768px) {
  .about-me-container  {
    flex-direction: column;
  }

  .about-title {
    margin-bottom: 1rem;
  }
}
