.container-experience {
  margin-bottom: 2rem;
}

.experience-container {
  display: flex;
  justify-content: center;
}

.experience-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  /* font-family: "Karla", sans-serif; */
  flex-shrink: 0;
  /* margin-right: 55px; */
  width: 180px;
  margin-top: 0.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.experience {
  margin-bottom: 0.8rem;
}

.experience-data {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.experience-name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--secondary-color);
  text-decoration: none;
}

.experience-description {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0.8rem 0px;
}

.technology-items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tech-item {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  background-color: #f4f1f1;
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
}

@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
  }

  .experience-title {
    margin-bottom: 1rem;
  }
}
