.experience {
  margin-bottom: 4rem;
}

.experience-container  {
  display: flex;
  justify-content: center;
}

.experience-item {
  margin-bottom: 0.8rem;
}

/* responsiveness */
@media (max-width: 768px) {
  .experience-container {
    flex-direction: column;
  }
}
