@import url("/styles/header.css");
@import url("/styles/home.css");
@import url("/styles/about-me.css");
@import url("/styles/experience.css");
@import url("/styles/skills.css");
@import url("/styles/project.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* global styling */
:root {
  --dark-one: #333333;
  --dark-two: #1b1d20;
  --dark-text: #383838;

  --gray-one: #606163;
  --gray-two: #b0b2b3;

  --light-one: #ffffff;
  --light-two: #f8f8f8;

  --primary-color: #aa88ff;
  --secondary-color: #7700ee;

  --linear-gradient-purple: linear-gradient(#9b30f9, #8844ee);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

body {
  padding-top: 60px;
  background-color: var(--light-two);
  color: var(--dark-text);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-two);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-one);
  border-radius: 5px;
}

/* global dark theme */
.dark-theme {
  background-color: var(--dark-one);
  color: var(--light-one);
}
