.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 1000;
  background-color: var(--light-two);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.my-name {
  color: var(--secondary-color);
}

.logo {
  height: 2.5rem;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  margin-left: 1.25rem;
}

.header-nav-link {
  font-weight: 600;
  color: var(--primary-color);
  font-weight: 300;
  position: relative;
  padding-bottom: 0.3125rem;
  transition: color 0.3s ease;
}

.header-nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0.3125rem;
  right: 0;
  transition: 0.5s ease;
}

.header-nav-link:hover::after {
  width: 100%;
  left: 0;
  background: var(--secondary-color);
}

.header-nav-link:hover {
  color: var(--secondary-color);
}

.btn-chance {
  background: transparent;
  border: none;
}

/* dark theme */
.dark-theme .header-nav-link,
.dark-theme .profile-social-link:hover i,
.dark-theme .btn-chance {
  color: var(--light-one);
}

.dark-theme .header {
  background: var(--dark-one);
}

/* responsiveness */
@media (max-width: 768px) {
  .header-nav-list {
    display: none;
    flex-direction: column;
    background-color: var(--light-two);
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    z-index: 1001;
  }

  .header-nav.active .header-nav-list {
    display: flex;
  }

  .header-nav-item {
    margin: 1rem 0;
    text-align: center;
  }

  .header-nav::before {
    content: "☰";
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin-right: 1rem;
  }

  .header-nav.active::before {
    content: "✖";
  }
}
