.container-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
  z-index: 1000;
  background-color: var(--light-two);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav-menu {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-name {
  font-weight: 600;
  color: var(--primary-color);
  font-weight: 300;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.nav-name::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  transition: 0.5s ease;
}

.nav-name:hover::after {
  width: 100%;
  left: 0;
  background: var(--secondary-color);
}

.nav-name:hover {
  color: var(--secondary-color);
}

/* dark theme */
.dark-theme .nav-name {
  color: var(--light-one);
}

.dark-theme .profile-social-link:hover i {
  color: var(--light-one);
}

.dark-theme .container-header {
  background: var(--dark-one);
}

/* responsiveness */
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav-menu {
    position: relative;
  }

  .nav-menu::before {
    content: "☰";
    font-size: 24px;
    cursor: pointer;
    display: block;
  }

  .nav-menu.active .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--light-two);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  }

  .nav-item {
    margin: 10px 0;
    text-align: center;
  }
}
