.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(-100px + 100vh);
  margin-bottom: 100px;
}

.home-content p {
  font-size: 1.06rem;
  margin: 0px;
  line-height: 150%;
}

.home-content h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.cta-download {
  background: var(--linear-gradient-purple);
  color: rgb(248, 248, 248);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  font-size: 0.8rem;
  padding: 12px;
  border-radius: 5px;
  margin: 30px 0px;
  text-decoration: none;
  display: inline-block;
}

.cta-download:hover {
  transform: scale(1.02);
}

.profile-social-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.profile-social-link {
  display: inline-block;
  margin: 0 5px;
  color: var(--primary-color);
  transition: 0.3s;
}

.profile-social-link i {
  font-size: 20px;
}

.profile-social-link:hover {
  transform: translateY(-5px);
  color: var(--dark-two);
}

.profile-social-link:hover i {
  color: var(--dark-two);
}

.home-image {
  width: 40%;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
}

/* Responsiveness */
@media (max-width: 768px) {
  .home {
    justify-content: center;
    text-align: center;
    height: calc(-100px + 60vh);
  }
}
