.project {
  margin-top: 4rem;
}

.project-container {
  display: flex;
  justify-content: center;
}

.project-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.project-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-item:hover::before {
  opacity: 1;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 180px;
  height: auto;
  margin-right: 1rem;
}

.flex-name {
  display: flex;
  gap: 0.4rem;
}

.project-item-icon {
  font-size: 20px;
  transition: 0.3s;
}

.project-item-icon:hover {
  color: var(--dark-two);
}
