.projects {
  margin: 4rem auto;
}

.project-container {
  display: flex;
  justify-content: center;
}

.project-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.project-item:hover::before {
  opacity: 1;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(204, 204, 204, 0.1);
}

.project-image {
  width: 180px;
  height: auto;
  margin-right: 1rem;
}

.flex-name {
  display: flex;
  gap: 0.4rem;
}

.project-item-icon {
  font-size: 20px;
  transition: 0.3s;
}

.project-item-icon:hover {
  color: var(--dark-two);
}