.skills {
  position: relative;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    134deg,
    rgb(106, 152, 240) 0%,
    rgb(73, 97, 220) 99%
  );
  transform: skewY(-3deg);
  z-index: -1;
  transform-origin: bottom left;
}

.skills-container {
  display: flex;
}

.skills-title {
  color: var(--light-two);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.skills-item {
  position: relative;
  text-align: center;
  background-color: var(--dark-one);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  align-content: center;
  width: 120px;
  height: 120px;
}

.skills-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background: var(--linear-gradient-purple);
  bottom: 0;
  left: 0;
}

.skills-icon {
  width: 40px;
}

.skills-item p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.skills-item:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .skills-item {
    width: 120px;
    height: 120px;
  }

  .skills-icon {
    width: 30px;
  }
}
